<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main>
  <h1>Les entiers</h1>
  <form action="/math/calc" method="get">
    <label for="inf">Borne inférieur :</label>
    <input type="number" name="inf" id="inf">
    <label for="sup">Borne supérieurs :</label>
    <input type="number" name="sup" id="sup">
    <button type="submit">Envoyer</button>
  </form>
  <table th:if="${rs != null}">
    <tr><th>Nombre</th></tr>
    <tr th:each="nb: ${rs}">
      <td th:text="${nb}"></td>
    </tr>
  </table>
</main>
</body>
</html>